body{
    background-color:#9bdde0;
    color: rgb(0, 0, 0);
}
head{
    background-color:#5DBCD2;
    color: rgb(255, 127, 53);
}
h1{
    font-size: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 251, 0);
    font-family: sans-serif;
}
h2{
    float: left;
}
img.gif{
    image-resolution: 1080px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}
img.START{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -180px;
}
